@charset "UTF-8";
/*
	semi-project
	mystyle.css
*/
.btnWrap {
	text-align:right;
}
.btnWrap .btn {
	margin-right:10px;
}
.btnWrap .btn:last-child{
	margin-right:0px;
}
.table.mytable tr td{
	text-align:left;
}
.table tr .cotentWrap{
	height:300px;
}
pre {
	font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size:1rem;
	line-height:2rem;
	color:#858796;
	text-align: initial;
}

.searchForm select{
	font-size:0.8rem;
}

.searchForm input{
	border:1px solid #d1d3e2 !important;
}